{% extends "base.html" %}

{% block app_content %}
    <h1>Sign Up</h1>
    <div class="row">
        <div class="col-md-6">
            <div class="card" style="width: 18rem;">
                <!--<img src="..." class="card-img-top" alt="...">-->
                <div class="card-body">
                  <h5 class="card-title">Trainer</h5>
                  <p class="card-text">Sign up as a trainer.</p>
                  <a href="{{ url_for('auth.register_trainer') }}" class="btn btn-primary">Get Started</a>
                </div>
              </div>
        </div>
        <div class="col-md-6">
            <div class="card" style="width: 18rem;">
                <!--<img src="..." class="card-img-top" alt="...">-->
                <div class="card-body">
                  <h5 class="card-title">Customer</h5>
                  <p class="card-text">Sign up as a client.</p>
                  <a href="{{ url_for('auth.register_customer') }}" class="btn btn-primary">Get Started</a>
                </div>
              </div>
        </div>
    </div>
{% endblock %}
